body {
    margin: 35vh auto;
    background-color: black;
    color: darksalmon;
    font-family: 'Fredericka the Great', sans-serif;
}

.buttons__wrapper {
    position: absolute;
    top: 12%;
    left: calc(50% - 150px);
    width: 300px;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

button {
    cursor: pointer;
    font-family: 'Fredericka the Great', sans-serif;
    font-size: 18px;
    width: 135px;
    height: 50px;
    outline: none;
    background-color: darksalmon;
    border: 2px solid darksalmon;
    border-radius: 5px;
    -webkit-transition: background-color .2s linear, border .1s linear, color .2s linear;
    transition: background-color .2s linear, border .1s linear, color .2s linear;
}

button:last-child {
    width: 300px;
    height: 35px;
    margin-top: 25px;
}

button:hover,
button:disabled {
    background-color: black;
    border: 2px solid darksalmon;
    color: darksalmon;
}

.invisible {
    opacity: 0;
    -webkit-transition: opacity .5s linear;
    transition: opacity .5s linear;
}

.invisible__none {
    display: none;
}

h1 {
    font-size: 150px;
    font-weight: 400;
    text-align: center;
}

@media (max-width: 576px) {
    h1 {
        font-size: 70px;
    }
}